@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
html{
  background:grey;
}
body {
  font-family: 'Press Start 2P', cursive;
}
.tech {
  text-align: center;
    top: 3em;
    color: white;
    position: relative;
}

video#video-bg {
    position: absolute;
    left: 0;
    width: 100%;
    /* height: 11%; */
    top: 70px;
    z-index: -14;
    padding: 15px;
    opacity: 0.75;
    border-radius: 20px;
}
